# Documentation
doc

# Object files
obj

# Binaries
stenc

# Analyzers
include/lexer.h
include/compiler.h
src/lexer.c
src/compiler.c
src/compiler.output

# Output files
*.s

# Test files
tests

# IDE
.vscode
